/* -------------------------TOP CONTAINER------------------------------------------------------ */
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

:root{
    --primary:#05364d;
    --secondary:#797979;
    --white:#ffffff;
    --pink:#ed239f;
}
.title-color{
    color: var(--primary);
}
.paragraph-color{
    color: var(--secondary);
}
.top-container{
    display: flex;
    justify-content: space-around;
    margin-left: 2rem;
}
.top-left{
    width: 50rem;
    margin-top: 5rem;
}
.top-left p{
    color: var(--secondary);
    letter-spacing: 0.1rem;
    line-height: 29px;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 1.2rem;    
}
.top-left p .small{font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    margin-bottom: 5rem;
}
.middle-container .title{
    text-align: center;
    margin-bottom: 39px;
    margin-right: 12px;
}
.top-left h1 {
    color: var(--primary);
    font-weight: 500;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 1.3rem;
    padding-left: 10px;
    border-left: 4px solid #ed239f;
    
}
.btn{
    padding: 10px 10px;
    
}
.btn a{
    
line-height: 50px;
    
font-size: 14px;
    
color: var(--white);
    
padding: 10px;
    
background-image: linear-gradient(245deg, #ed239f, #1d44e3 100%);
    
color: #fdfcfc;
    
padding: 19px 38px;
    
text-decoration: none;
    
font-weight: 600;
    
border-radius: 9px;
    
animation-name: animate;
    
outline: none;
    
margin-left: -8px;
}

@keyframes animate{
    0%, 100%{
        transform: translateY(rem);
    }
    50%{
        transform: translateY(3rem);
    }
}
   
.top-right{
    position: relative;

}

.top-right img{
    width: 30rem;
    position: relative;
    animation:animate 3s linear infinite;
}
.top-img{
    position: absolute;
    align-items: center;
}
.top-img img{
    width: 25rem;
    position: absolute;
    margin-top: -424px;
    margin-left: 9px;
    border-radius: 50%;
    animation:animate 3s linear infinite;
}
.right-side{
    margin-top: 5rem;
}
/* ------------------------------------Middle-Container--------------------------------------------------------- */

.middle-container{
    margin-top: 100px;
    margin-bottom: 100px;
    height: 300px;
}

.middle-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 42px;
}

.middle-container title{
    color: var(--secondary);
    letter-spacing: 0.1rem;
    line-height: 29px;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 1.2rem; 
    text-align: center;
    
}
span{
    color: var(--pink);
}
.box1{
    background: #eddede;
    width: 312px;
    margin-left: 2rem;
    border-radius: 16px;
    height: 266px;
    box-shadow: 4px 5px 8px grey;
}
.box1 img{
    width: 130px;
    margin-left: 30%;
}
.box1-text{
    text-align: center;
    padding-bottom: 11px;
    margin: 16px;
}
.line-gap{
    margin-bottom: 10px;
}
.box2{
    background: #dee3ed;
    width: 312px;
    margin-left: 2rem;
    border-radius: 16px;
    height: 266px;
    box-shadow: 4px 5px 8px grey;
}
.box2 img{
    width: 130px;
    margin-left: 30%;
}
.box2-text{
    text-align: center;
    padding-bottom: 11px;
    margin: 16px;
}
.box3{
    background: #dcffe7;
    width: 312px;
    margin-left: 2rem;
    border-radius: 16px;
    height: 266px;
    box-shadow: 4px 5px 8px grey;
}
.box3 img{
    width: 130px;
    margin-left: 30%;
}
.box3-text{
    text-align: center;
    padding-bottom: 11px;
    margin: 16px;
}
/* ------------------------------3rd container------------------------------------------------------------- */
.third-container{
    display: grid;
    justify-content: space-around;
    margin-top: 118px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.bg {
    width: 0px;
}
.third-right{
    width: 652px;
    margin-right: 29px;
}
.third-container img{
    width: 339px;
    margin-left: 63px;
}
.third-right h1{

margin-bottom: 15px;

line-height: 49px;
}
.third-right p{
    color: var(--secondary);
    /* letter-spacing: 0.1rem; */
    line-height: 29px;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 1.2rem;
    margin-right: 10px;
}
/* -------------------------4rh container---------------------------------- */
.forth-container{
    display: flex;
    justify-content: space-around;
    margin-top: 110px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.forth-right{
    width: 652px;
    margin-left: 40px;
}
.bg img{
    width: 339px;
    margin-right: 12px;
    position: absolute;
    z-index: -1;
}
.forth-right h1{
margin-bottom: 15px;
line-height: 49px;
}
.forth-right p{
    color: var(--secondary);
    /* letter-spacing: 0.1rem; */
    line-height: 29px;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 1.2rem;
    margin-right: 10px;
}

.shape img{
    width: 155px;
    margin-top: 233px;
    margin-left: 166px;
    margin-right: 19px;
    position: relative;
    z-index: -2;
}
/* ------------------------------------5th------------------------------------------------ */
.fifth-container{
    margin-top: 54px;
    margin-bottom: 130px;
}
.fifth-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 2rem;
    margin-bottom: 100px;
}
.box5{
    position: relative;
}
.box5 img{width: 390px;height: 402px;border-radius: 5px;}
.hover-text{
    
position: absolute;  
left: 80px;   
font-size: 29px;  
margin-top: -48px; 
-webkit-text-security: none;  
opacity: 0%;   
transition: all 1s ease;   
color: #05364d;  
top: 46px;  
height: 405px;  
width: 318px;
}
.hover-text:hover{
    transform: translateY(408px);
    opacity: 100%;
}
.box5::after{
    content: "";
    width: 390px;
    height:402px;
    background: blue;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0%;
    z-index: -1;
    
    transition: all 1.2s ease;
}
.box5:hover::after{
    transform: translateX(20px);
    opacity: 60%;
    z-index: 1;   
}


.box6 img{width: 390px;height: 402px;}
.box6{
    position: relative;
}
.box6 img{width: 390px;height: 402px;border-radius: 5px;}
.box6::after{
    content: "";
    width: 390px;
    height:402px;
    background: blue;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0%;
    z-index: -1;
    
    transition: all 1.2s ease;
}
.box6:hover::after{
    transform: translateX(20px);
    opacity: 60%;
    z-index: 1;   
}
.box7 img{width: 390px;height: 402px;}
.box7 img{width: 390px;height: 402px;}
.box7{
    position: relative;
}
.box7 img{width: 390px;height: 402px;border-radius: 5px;}
.box7::after{
    content: "";
    width: 390px;
    height:402px;
    background: blue;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0%;
    z-index: -1;
    
    transition: all 1.2s ease;
}
.box7:hover::after{
    transform: translateX(20px);
    opacity: 60%;
    z-index: 1;   
}
/* -----------------------------Footer--------------------------------------------- */

.foot h2{
    font-family: 'Lobster', cursive;
    margin-left: 41%;
    font-size: 2rem;
    color: white;
}
.foot p{
    color: #959595;
    text-align: center;
    margin-top: 19px;
}
footer.foot {
    background: #303030;
    padding-bottom: 35px;
    padding-top: 35px;
}




